# Dispersión

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import searborn as sns

plt.style.use("seaborn-dark") #para que los gráficos se visualicen en el tema de fondo negro.

In [5]:
df = pd.read_csv('cars.csv')
df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

In [6]:
df['price_usd'].std() #desviación estandar

6428.152018202915

In [8]:
#Rango = valor max - valor min
rango = df['price_usd'].max() - df['price_usd'].min()
rango

49999.0

In [9]:
#Calcular los quartiles

Q1 = df['price_usd'].quantile(q=0.25)
Q2 = df['price_usd'].median() #Recordamos la mediana Q2
Q3 = df['price_usd'].quantile(q=0.75)

#Calculemos valor max y min con quartiles
min_valor = df['price_usd'].quantile(q=0)
max_valor = df['price_usd'].quantile(q=1)

print(min_valor, Q1, Q2, Q3, max_valor)

1.0 2100.0 4800.0 8990.0 50000.0